.*.swp
*.pyc
demo/var
.tox/
*.egg-info
# Documentation builds
docs/build/
docs/.pytest_cache/

# Ignore setup.py-generated directories
build/
dist/

# Crowdin API key relies here - if you don't have access to it, it's probably because you're not allowed to.
.crowdin-cli-key
crowdin.yaml
.crowdin/
