{% extends "formidable/formidable_base.html" %}
{% load staticfiles %}

{% block content %}
<div class="title">
  <h1>May the Form be with you!</h1>
</div>
<div id="formidable"></div>
{% endblock %}

{% block extra_js %}
<script src="{% static "assets/vendor.js" %}"></script>
<script src="{% static "assets/formidable.js" %}"></script>
<script>
  $(document).ready(function() {
    Formidable.on('saved.form', function() {
        window.location = '{% url "builder:formidable-list" %}';
    });
    Formidable.on('cancel.form', function() {
        window.location = '{% url "builder:formidable-edit" object.pk %}';
    });
    Formidable.start({
      formID: {{ object.pk }},
      component: 'builder',
      cancelURL: '{% url "builder:formidable-edit" object.pk %}',
      returnURL: '{% url "builder:formidable-list" %}'
    });
  });
</script>
{% endblock %}
