{% extends "formidable/formidable_base.html" %}

{% block content %}
<div class="title">
  <h1>Forms</h1>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Forms \ Roles</th>
        {% for role in roles %}
          <th>{{ role.label }}</th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for form in object_list %}
        <tr>
          <th>{{ form.label }}</th>
          {% for role in roles %}
            <td><a href="{{ form.id }}/{{ role.id }}">&#x1f441;</a></td>
          {% endfor %}
          <td><a href="builder/{{ form.id }}">&#x1f589;</a></td>
        </tr>
        {% empty %}
          <tr>
            <td colspan="{{ roles|length|add:1 }}">No forms yet.</td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul>
  </ul>
</div>
{% endblock %}
