$fonts-path: '../fonts';
$montserrat-font-path: $fonts-path !default;
$roboto-font-path: $fonts-path !default;
$UbuntuFontsPath: $fonts-path !default;

$color-primary: #075684;
$color-secondary: #30a6ea;

$template-base-link-color: $color-secondary;

$template-base-background: #fff;
$template-base-h1-color: $color-primary;
$template-base-h2-color: $color-secondary;

$template-title-color: #eee;
